MONGO_URI=
PORT=
REDIS_URL=
REDIS_API=
JWT_SECRET=
JWT_REFRESH_SECRET=
SMTP_PASSWORD=
SMTP_USER=
SENDER_EMAIL=
NODE_ENV=development
GROQ_API_KEY=
CRON_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_IDS=
GOOGLE_WEB_CLIENT_ID=
GOOGLE_ANDROID_CLIENT_ID=
GOOGLE_IOS_CLIENT_ID=
